<body>
  <h2>NPM: {{body.npm}}</h2>
  <h2>Nama: {{body.name}}</h2>
  <h2>Email: {{body.email}}</h2>
  <h2>Foto: </h2>    

  <img src="{{body.picture}}" width="500" height="333">
  
  <h2>{{body.fileName}}</h2>

  <a href="/"><button class="button button2">Back to Form</button</a>
</body>
